<%= render 'layouts/auth_header'%>
  <div class="row">
    <div class="logo-banner text-center">
        <h1 class="text-thin logo-text">TrakMyRun</h1>
        <br>
        <div class="container">
        <a href="<%=new_sessions_url%>" class="col-md-3 col-md-offset-2 visitor-link">Sign In</a>
        <a href="<%=new_user_url%>" class="col-md-3 col-md-offset-2 visitor-link">Sign Up</a>
        </div>
    </div>
    <div class="logo-background col-md-4 col-md-offset-4">
    </div>
  </div>
  <div class="row">

    <div class="feature-box col-md-4  text-center" id="one">
      <div class="transparent-cover">
        <span class="box-content">Share with friends</span>
      </div>
    </div>

    <div class="feature-box col-md-4  text-center" id="two">
      <div class="transparent-cover">
        <span class="box-content">Reach Goals</span>
      </div>
    </div>

    <div class="feature-box col-md-4  text-center" id="three">
      <div class="transparent-cover">
        <span class="box-content">Discover trails</span>
      </div>
    </div>

<div class="home-background">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Network With Other Runners</h1><hr>
      <div class="col-md-6 text-center feature-icon">
        <img src="assets/network.png">
      </div>
      <div class="feature-description col-md-6">
        TrakMyRun is a social network of runners. Not only can you log your workouts and track your fittness, but you can also share your activities with other athletes as well. Find the competitive athelte within you and try and get the top score for routes by trying your hardest or getting the fastest time.
      </div>
    </div>
    <br>
    <div class="row">
      <h1 class="text-center">Monitor Your Workouts</h1><hr>
      <div class="feature-description col-md-6">
        TrakMyRun comes with a dashboard so that you can see exactly what you have done over time. See how many calories you burned, distance you have ran, how hard you have been working our heart with graphs. You can also switch between months, days, or years. You also have the abililty to view all of your friends' dashboards as well so you can see how active (or lazy) they are.
      </div>
      <div class="col-md-6 text-center feature-icon">
        <img src="assets/icon-performance.png">
      </div>
      
    </div>
    <br>
    <div class="row">
      <h1 class="text-center">Map and Share Your Runs</h1><hr>
      <div class="col-md-6 text-center feature-icon">
        <img src="assets/map_marker.png">
      </div>
      <div class="feature-description col-md-6">
        TrakMyRun comes with a map tool that allows you to plot your runs while also keeping track of elevation and distance. You can load and edit any map that you or your friends have ran by sharing maps with them or joininga group. There are also challenges that happen every once in a while so that you can race to win prizes!
      </div>
    </div>
    <br>

    <br>
  </div>
  <footer>

  </footer>
</div>

