
<% if flash[:errors] %> 
<div class="pannel well col-md-6">
	<ul > 
		<%flash[:errors].each do |error| %> 
		<li><%= error %></li>
		<% end %> 
	</ul>
</div>
<% end %>

<div class="container-fluid">
	
	<section class="content">
	</section>

</div>

