<div class="container">
	<section class="content"></section>
</div>

<script type="text/javascript">

	$(document).ready(function(){
	  TrakMyRun.initialize();
	});

	window.TrakMyRun.CurrentUser = <%= current_user.id %>
</script>