<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs nav-justified" role="tablist">
		  <li><h1 class="text-thin">Dashboard</h1></li>
		  <li><a href="">Data Type 1</a></li>
		  <li><a href="">Data Type 1</a></li>
		  <li><a href="">Data Type 1</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-3">

		<div class="list-group">
			<a href="#users/31/dashboard" class="list-group-item">
			Cras justo odio
			</a>
			<a href="#users/31/dashboard" class="list-group-item">Dapibus ac facilisis in</a>
			<a href="#users/31/dashboard" class="list-group-item">Morbi leo risus</a>
			<a href="#users/31/dashboard" class="list-group-item">Porta ac consectetur ac</a>
			<a href="#users/31/dashboard" class="list-group-item">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-md-9">
		<canvas id="myChart" width="800" height="400"></canvas>
	</div>
</div>


