<div class="row pannel well col-md-6 fixed">
<span class="pull-right close"
					aria-hidden="true">&times;
			</span>
	<h1 class="text-center">Location Info</h1>
	
	<form id="personal-stat-form">
		<div class="form-group">
			<div class="row">
				<div class="col-md-3 col-md-offset-3">
					<label for="age">Country</label>
					<input id="age" class="form-control" name="user[country]">
					<label for="weight">Street Address</label>
					<input id="weight" class="form-control" name="user[street_address]">
				</div>

				<div class="col-md-3">
					<label for="gender">Zip Code</label>
					<input id="gender" class="form-control" name="user[zip_code]">
					<label for="height">State</label>
					<input id="height" class="form-control" name="user[state]">
				</div>
			</div>
			<br>
			<div class="row">
				<input type="submit" class="btn btn-primary col-md-6 col-md-offset-3">
			</div>
		</div>
		
	</form>
</div>