<div class="row pannel well col-md-6 fixed">
<span class="pull-right close"
					aria-hidden="true">&times;
			</span>
	<h1 class="text-center">Location Info</h1>
	
	<form id="personal-stat-form">
		<div class="form-group">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<label for="city">City</label>
					<input id="city" class="form-control" name="user[city]">
					<label for="state">State</label>
					<input id="state" class="form-control" name="user[state]"><br>
					<input type="submit" value="Set Your City!" class="btn btn-primary form-control">
				</div>
			</div>
		</div>
	</form>
	<div class="hidden-information-box">
		<p>This information will only be used to map a starting point of your runs.</p>
	</div>
</div>