<div class="row pannel well text-center col-md-6 fixed">
<span class="pull-right close"
					aria-hidden="true">&times;
	</span>
	<h1>Password Info</h1>
	<form id="personal-stat-form">
	
		<div class="form-group">
			<div class="row">
				<div class="col-md-3 col-md-offset-3">
					<label for="username">Username</label>
					<input id="username" class="form-control" value="<%=user.get('username')%>" name="user[username]">

					<label for="new-password">New Password</label>
					<input id="new-password" class="form-control" type="password" name="new_password">
				</div>

				<div class="col-md-3">
					<label for="old-password">Old Password</label>
					<input id="old-password" class="form-control" type="password" name="old_password">
				</div>
			</div>
			<br>
			<div class="row">
				<input type="submit" id="createNewPassword" class="btn btn-primary col-md-6 col-md-offset-3">
			</div>
		</div>
	</form>
</div>