<div class="row pannel well">
	<h1 class="text-center">Select Photo</h1>
	<form id="personal-stat-form" action="/users" method="Post">
		<label for="image">Upload Image</label>
		<input type="filepicker" name="user[image_url]">
		<input type="submit" class="btn btn-primary" value="Upload Image">
	</form>
</div>
