<aside class="left col-md-3">
	<div class="pannel well">
		<% if(user.get('image_url')) { %>
			<img src= "<%=user.get('image_url')%>" class="profile-pic">
		<%} else  { %>
			<div class="changePhoto transparent-display" style="cursor: pointer">
				Click to upload an epic running photo
			</div>
		<% } %>
		
		<div class="row">
			<div class="col-sm-3">
				<%= user.get('username') %>
			</div>
		</div>
	</div>
	<% if (TrakMyRun.CurrentUser === user.get('id')) { %>
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Menu</a>
	            </h4>
	        </div>
	        
	            <div class="panel-body">
	                <table class="table">
	                	
	                	<tr>
	                		<td>
	                        	<a href= <%= "#users/" + user.get('id') + "/routes/show"%>>Create Route</a>
	                        </td>
	                    </tr>
	                    <tr>
	                    	
		                        <td>
		                        	<a href="#users">
		                            	The Hub
		                            </a>
		                        </td>
	                        
	                    </tr>
	                    <tr>
	                    	
		                        <td>
			                        <a href= <%="#users/" + user.get('id') + "/dashboard" %>>
			                           Dashboard
			                         </a>
		                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td>
	                           <a href="##">Notifications</a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                           <a href="##">Followers</a>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        
	    </div>
	    <br>
	    <div class="panel panel-default">
	    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		        <div class="panel-heading carrot-animation">
		            <h4 class="panel-title">
						Settings
						<span class="glyphicon glyphicon-chevron-down pull-right"></span>
		            </h4>
		        </div>
	        </a>
	        <div id="collapseThree" class="panel-collapse collapse">
	            <div class="panel-body">
	                <table class="table">
	                	<tr class="changePhoto">
	                        <td>
	                            <span class="side-nav-link" >Change Photo</span>
	                        </td>
	                    </tr>
	                    <tr class="changePassword">
	                        <td>
	                            <span class="side-nav-link" >Change Password</span>
	                        </td>
	                    </tr>
	                    <tr class="updateInfo">
	                        <td>
	                            <span class="side-nav-link">Update Info</span>
	                        </td>
	                    </tr>
	                    <tr class="changeAddress">
	                        <td>
	                            <span class="side-nav-link">Update Address</span>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>
    <% } %>

    <br>

	<form class="pannel well" role="search">
		<div class="form-group">
			<input type="text" class="form-control search" placeholder="Search for people">
		</div>
	</form>
	<div class="pannel well search-results"></div>
</aside>

<section class="feed-content col-md-8  col-md-offset-1 ">
	<div class="posts-container">
		<h1 class="text-thin text-center feed">Activity</h1>	
	</div>
</section>



