<aside class="left col-md-3">

		<div class="pannel well">
			<img src= "http://pmcvariety.files.wordpress.com/2014/07/sons-of-anarchy-season-7-fx.jpg?w=670&h=377&crop=1" class="profile-pic">
			
			<div class="row">
				<div class="col-sm-3">
					<%= user.get('username') %>
				</div>
			</div>
		</div>

		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
	                </span>Content</a>
	            </h4>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in">
	            <div class="panel-body">
	                <table class="table">
	                    <tr>
	                        <td>
	                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="/#users/<%= user.get('id') %>/edit">Edit Profile</a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            <span class="glyphicon glyphicon-flash text-success"></span><a href="">News Feed</a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            <span class="glyphicon glyphicon-file text-info"></span><a href="/" id="home">My Activities</a>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
	                            <span class="badge"></span>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
	                </span>Account</a>
	            </h4>
	        </div>
	        <div id="collapseThree" class="panel-collapse collapse">
	            <div class="panel-body">
	                <table class="table">
	                	<tr>
	                        <td>
	                            <span class="side-nav-link" id="changePhoto">Change Photo</span>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            <span class="side-nav-link" id="changePassword">Change Password</span>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            <span class="side-nav-link" id="updateInfo">Update Info</span>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            <span class="side-nav-link" id="changeAddress">Update Address</span>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>


	</aside>

	<section class="feed-content col-md-8  col-md-offset-1 ">
		
		
		<div class="posts-container">
			<h1 class="text-thin text-center feed">Your Activities</h1>	
			<!-- Insert posts and edit views here here -->
		</div>

	</section>