<section class="modal-form text-center">
<span class="pull-right close-view">X</span>
	<h1 class="text-thin">Log Your Activity</h1>

	<form class="form" id="new-post-form" >
		<div class="form-group col-md-4 col-md-offset-4">
			<label for="type"><h1 class="text-thin">Type</h1></label>
			<input class="form-control col-md-3" id="type" placeholder="Cycling, Running, Biking..." name="post[workout_type]">
		</div>

		<div class="row text-center">
			<span class="time-display col-md-4"> 
			<span id="hours">0</span> Hours   |  
			<span id="minutes">0</span> Minutes | 
			<span id="seconds">0</span> Seconds 
		</div>

		<input type="hidden" class="hours-value" name="post[hours]">
		<input type="hidden" class="minutes-value" name="post[minutes]">
		<input type="hidden" class="seconds-value" name="post[seconds]">

		<div class="row">
			<div class="duration" col-md-offset-2" data-time-type="hours"></div>
			
			<div class="duration" col-md-offset-2" data-time-type="minutes"></div>
			
			<div class="duration" col-md-offset-2" data-time-type="seconds"></div>
		</div>
		<br>
		<input type="submit" class="modal-submit" value="Save Workout">
		
	</form>
</section>