<section class="modal-form text-center">
<span class="pull-right close-view">X</span>
	<h1 class="text-thin">Log Your Activity</h1>

	<form class="form" id="new-post-form" >
		<div class="form-group col-md-3 col-md-offset-1">
			<label for="type"><h1 class="text-thin">Type</h1></label>
			<input class="form-control col-md-3" id="type" placeholder="Cycling, Running, Biking..." name="post[workout_type]">
		</div>

		<div class="form-group col-md-3 ">
			<label for="type"><h1 class="text-thin">Heart Rate</h1></label>
			<input class="form-control col-md-3" id="heartRate" name="post[heart_rate]"placeholder="Average Heart Rate">
		</div>
		<div class="form-group col-md-4 calories">
			<h1 class="text-thin">Calories Burned</h1>
			<input id="calories-input" name="post[calories]" type="hidden" value="0">
			<span class="transparent-display" id="calories">0</span>
		</div>

		<div class="row text-center">
			<span class="transparent-display col-md-4"> 
				<span id="hours">0</span> Hours   |  
				<span id="minutes">0</span> Minutes | 
				<span id="seconds">0</span> Seconds 
			</span>
		</div>

		<input type="hidden" class="hours-value" name="post[hours]">
		<input type="hidden" class="minutes-value" name="post[minutes]">
		<input type="hidden" class="seconds-value" name="post[seconds]">

		<div class="row">
			<div class="duration" id="hour"  data-time-type="hours"></div>
			
			<div class="duration"  data-time-type="minutes"></div>
			
			<div class="duration"  data-time-type="seconds"></div>
		</div>
		<br>
		<input type="submit" class="modal-submit" value="Save Workout">
		
	</form>
</section>