<div class="row">
    <div class="col-md-3 sidebar">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <span href="#" class="list-group-item active">
                Route Menu
                <span class="pull-right" id="slide-submenu">
                    <i class="fa fa-times"></i>
                </span>
            </span>
            <a  class="list-group-item">
                <i class="fa fa-comment-o"></i>Customize
            </a>
            <a  class="list-group-item create-new-map">
                <i class="fa fa-search"></i>New
            </a>
            <a  class="list-group-item save-map">
                <i class="fa fa-user"></i>Save
            </a>
            <a  class="list-group-item">
                <i class="fa fa-folder-open-o"></i> Elevation
            </a>
            <a  class="list-group-item">
                <i class="fa fa-bar-chart-o"></i>Display 
            </a>
            <a  class="list-group-item restart">
                <i class="fa fa-envelope"></i>Restart
            </a>
            <div class="transparent-display map-display text-center">
                Total Distance: <br>
                <span class="distance-field">0 Miles</span>
            </div>
        </div>  
    </div>      
    <div class="col-md-9 map-content pannel well">
        <div style='width: 800px;'>
            <div id="map" style='width: 700px; height: 600px;'>
            </div>
            
        </div>
    </div>
</div>