/*
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-image: url('backdropPic.jpg');
	background-size: cover;
}

.sign-up, .sign-in {
	min-height: 400px;
	margin-top: 10%;
	background: rgba(0,0,0,0.6);
	color:white;
	padding: 40px;
}

label {
	margin-top: 5%;
}

ul.alert {
	font-size: 20px;
	list-style: none;
	font-weight:100;
	background-color: rgba(199, 10, 10, 0.41);
}

.duration {
	display: inline-block;
	margin: 0 5%;
	height: 200px;
}


.transparent-display {
	color: white;
	font-weight: 100;
	width: 100%;
	font-size: 34px;
	margin: 3% 0%;
	padding: 20px 0;
	background: rgba(0,0,0,0.7);
}
.text-thin {
	font-weight: 100;
}
.activity-form{
	color: white;
	font-weight: 100;
	font-size: 34px;
	margin: 3% 0;
	padding: 20px 0;
	background: rgba(0,0,0,0.7);
	height: 100px;
}

.modal-form {
	color: white;
	background-color: white;
	padding: 20px;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
}

.modal-submit {
	width: 40%;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
	background: rgba(0,0,0,0.8);
	border: 1px solid black;
	border-radius: 5px;
	transition: border .5s ease-in;
}
.modal-submit:hover {
	border: 1px solid #ACACAC;
}

.time-label {
	display: inline;
	margin:2%;
}

.profile-pic {
	max-width: 200px;
	width: 100%;
	border-radius: 3px;
}
.close-view{
	color:#ACACAC;
	padding:10px;
	cursor: pointer;
	text-decoration:none;
	font-size: 23px;
	transition: color .3s ease-in;
}

.close-view:hover {
	color: white;
	text-decoration: none
}

.feed {
	background-color: #212121;
	color: #E5E5E5;
	padding: 20px;
}
.activity {
	color: black;
}

.glyphicon:hover{
	color: #FFA500;
	cursor: pointer
}
#calories {
	width: 100%;
	display:inline-block;
	height: 60px;
	padding: 0;
}

.delete-view {
	color: black;
	cursor:pointer;
	font-size: 30px;
	transition: color .4s ease-in
}
.delete-view:hover {
	color: red;
}
