/*
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate";
@import "loader";


.main-background {
    position: absolute;
    width: 100%;
    background-image: url('backdropPic.jpg');
    background-size: cover;
}

.fyi {
  background-color: rgba(30,144,255,.3);
  letter-spacing: 1px;
  padding: 1em;
  border-radius: 5px;
  color:white;
}

#contact-info {
  display: none;
}

.text-theme {
    font-weight: 100;
    color: white;
}


.loading-container {
    display:none;
    height: 800px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;

}
.searchbar .icon {
    padding: 20px; 
    margin: 0 2%;
    transition: 'background-color' .4s ease-in-out;
    border-radius: 5px;
    font-size: 1.3em;
}
.searchbar:nth-child(1n+0) {
    display: inline-block
}

.searchbar .icon {
    position: relative;
}
.searchbar .icon:hover {
    cursor: pointer;
}

.icon .text {
    position:absolute; 
    bottom:3px;
    margin: 0 auto;
    text-align:center;
    font-size: .6em;
    font-weight: 200;
}

.small-input {
    width: 4em;
    height: 1.3em;
    display: none;
    border-radius: 4px;
    position: absolute;
    border: 1px solid #4FC3AA;
    font-size: .8em;
    font-weight: 100;
    bottom: -4px;
    left: 0px;
}

.searchbar #searchfield {
    display: none;
}

.searchbar .icon:hover {
    background-color: #efefef;
}

.searchbar input[type="text"] {
    font-weight: 300; 
    width: 30%;
    height: 40px;
    padding: 10px; 
    border: 1px solid #1E90FF;
    border-radius: 10px;
    box-shadow: none;
}

.searchbar input[type="text"]:focus {
    box-shadow: none;
    border: 1px solid #4FC3AA;
    margin: none;
}

#loading {
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}

.search-results {
	display: none;
}


.auth-form {
	min-height: 400px;
	margin-top: 10%;
	background: rgba(0,0,0,0.6);
	color:white;
	padding: 40px;
}

.main-background:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 300px;
}

label {
	margin-top: 5%;
}

a[href] {
	cursor: pointer;
	text-decoration: none;
}

.close-icon {
	font-size: 20px;
	width: 20px;
	padding:10px;
	cursor: pointer;
	transition: color .4s ease-in;
	transition: background-color .4s ease-in;
}

.close-icon:hover {
	color:white;
	background-color: #BFBFBF;
}

ul.alert {
	font-size: 20px;
	list-style: none;
	font-weight:100;
	background-color: rgba(199, 10, 10, 0.41);
}

.duration {
	display: inline-block;
	margin: 0 5%;
	height: 200px;
}

.transparent-display {
	color: white;
	font-weight: 100;
	width: 100%;
	font-size: 25px;
	margin: 3% 0%;
	padding: 10px;
	background: rgba(0,0,0,0.7);
}

.text-thin {
	font-weight: 100;
}

.modal-form {
	color: white;
	z-index: 10;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
	padding: 20px;
}

#filepicker-form { 
	color: white;
	display: none;
	padding: 20px;
	position: fixed;
	z-index: 10;
	height:300px;
	top: -25px;
	z-index: 10;
	background: rgba(0,0,0,0.7);
}

.file-submit {
	position: absolute;
	color: white;
	z-index : 3;
	background: rgba(0,0,0,0.7);
}

.hidden {
	display: none;
}

.close-view{
	color:#ACACAC;
	padding:10px;
	cursor: pointer;
	text-decoration:none;
	font-size: 23px;
	transition: color .3s ease-in;
}

.close-view:hover {
	color: white;
	text-decoration: none
}

.feed {
	background-color: #212121;
	color: #E5E5E5;
	padding: 20px;
}
.activity {
	color: black;
}

.glyphicon.active{
	color: #FFA500;
	cursor: pointer
}
.active {
	color: #FFA500;
}
.red {
	color: #8B0000;
}

.fixed {
	position: fixed;
}

.blue:hover {
	color:#00FFFF;
}

.delete-view {
	color: black;
	cursor:pointer;
	font-size: 30px;
	transition: color .4s ease-in;
}

.delete-view:hover {
	color: red;
}

.side-nav-link {
	color: blue;
	cursor: pointer;
	color: #428bca;
}

a {
	cursor:pointer;
}

.message-success {
	display: none;
	color:white;
	position: absolute;
	top: 100px;
	z-index: 100;
	background-color: rgba(0,0,0,0.8);
}
.visitor-link {
	color: white;
	display:inline-block;
	font-weight: 100;
	font-size: 40px;
	padding: 10px;
	margin-top: 4%;
	border: 1px solid white;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.5);
	transition: background-color 1s ease_in;
}

.visitor-link:hover {
	background-color: rgba(70,70,70,0.5);
	color:white;
	text-decoration: none;
}

.error-pannel {
	color: red;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 40px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.super-big {
	font-size: 40px;
}

.modal-submit {
	width: 60%;
	padding: 10px;
	/*margin-top: 15%;*/
	font-weight: 100;
	font-size: 40px;
	border: 1px solid white;
	background: rgba(0,0,0,0.4);
	border-radius: 5px;
	transition: background-color .5s ease-in;
}
.modal-submit:hover {
	background-color: rgba(155,155,155,0.2);
}

/*Nav bar addon */
.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.feature-box:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.feature-box {
  
  background-size: cover;  
  height: 300px;
  position: relative;
}

.feature-box:hover {
  cursor: pointer;
}

.feature-box#one {
  background-image: url('running-group.jpg');
}

.feature-box#two {
  background-image: url('track-run-small.jpg');
}

.feature-box#three {
  background-image: url('beach-running-small.jpeg');
}

.feature-description {
  font-size: 22px;
  font-weight: 100;
}

.transparent-cover {
  background-color: rgba(0,0,0,0.4);
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  transition: opacity 1s ease-in-out;
}

.box-content:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.box-content {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: white;
}

.logo-background {
  background-image: url('TRlogo.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.logo-text {
  letter-spacing: 10px;
}

.feature-icon img {
  padding: 10px;
  max-height: 300px;
}

.logo-banner {
  color:black;
  z-index: 4;
  width: 100%;
  height: 122px;
  padding: 10px;
}

.home-background {
  background-color: #282828; 
  color: #F0F0F0; 
}

.loader {
  border: 1px solid rgba(#A80,0.1);
  border-radius: 50%;
  width: 100%;
  height: 20em;
  display: flex; align-items:center; justify-content: center;
}
.spinner {
  width: 20rem;
  height: 20rem;
  background: #111;
  background-image: linear-gradient(180deg, rgba(#111,0) 45%, rgba(#A61,0.5) 75%);
  animation: 8s spinner infinite linear;
  border-radius: 50%;
  box-shadow:
  //inset x  y       size    push   color
    inset 0 -0.2rem 0.40rem -0.22rem #F80,   // black ring inner glow
    inset 0  0.0rem 0.00rem  1.00rem #06080B,// black ring
    inset 0 -0.2rem 0.60rem  0.80rem #F80,   // inner glow
          0  0.4rem 0.80rem -0.22rem #F80;   // outer glow
  color: #A61 * 1.5;
  text-align: center;
  border-top: 1px solid #111;
  border-bottom: 1px solid #F80;
  font-size: 4rem;
  line-height: 16rem;
}
@keyframes spinner {
  0%   { transform: rotate(0deg)   ; }
  100% { transform: rotate(360deg) ; }
}