/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-image: url('backdropPic.jpg');
	background-size: cover;
}

.sign-up, .sign-in {
	min-height: 400px;
	margin-top: 10%;
	background: rgba(0,0,0,0.6);
	color:white;
	padding: 40px;
}

label {
	margin-top: 5%;
}

ul.alert {
	font-size: 20px;
	list-style: none;
	font-weight:100;
	background-color: rgba(199, 10, 10, 0.41);
}





