
.recent-activities-display {
	max-height: 200px;
}

.comment-list {
	list-style: none;
}

.profile-pic {
	max-width: 200px;
	width: 100%;
	border-radius: 3px;
}

tr {
	transition: background .4s ease-in;
}

tr:hover {
	background-color: #EDEDED;
	cursor: pointer;
}

.recent-activities-display {
	display: block;
	min-height: 350px;
}

.ranking-icon {
	width: 100%;
	max-width: 70px;
	min-height: 70px;
	border-radius: 30% 20%;
	border: 1px solid #ACACAC;
}