<div class="row">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">TrakMyRun</a>
      </div>


      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign In", new_sessions_url%></li>
        <li><%= link_to "Sign Up", new_user_url%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
